body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("https://cdn.wallpapersafari.com/3/21/9MqoKp.jpg");
}
.left{
    display: inline-block;
    
    position: absolute;
    top: 20px;
    left: 30px;
    line-height: 26px;
    /* line maintain gap in height */
    

}
.left img{
    width: 60px;
}
.left div{
    text-align: center;
    font-weight: bold;
    font-family: Ubuntu;
}

.mid{
    display: block;
    width: 36%;
    margin: 15px auto;
    

}

.right{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 3px solid gray;

}

.navbar{
    display: inline-block;

}
.navbar li{
    display: inline-block;
    font-size: 18px;
    
    
}
.navbar li a{
    color: white;
    font-family: Ubuntu;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

.navbar li a:hover{
    color: red;
}


.btn{
    padding: 5px 9px;
    font-size: 16px;
    font-family: Ubuntu;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 4px;
}
.btn:hover{
    background-color: green;
}

.contain{
    
        border: 2px solid white;
        padding: 20px 20px;
        margin: 70px 90px;
        width: 33%;
        
        background-color:black;
        text-decoration: none;
        border-radius: 7px;
}

.contain h1 a{
    color: white;
    text-decoration: solid;
    font-family: Ubuntu;
    text-align: center;
    margin: auto;
    display: block;
}

.form-group input{
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 4px 5px;
    margin: 5px auto;
    color: black;
    width: 200px;
    font-family: Ubuntu;
    
}

.form-group input:hover{
    background-color: black;
    color: white;
    
}
.bn{
    display: block;
    padding: 5px 9px;
    font-size: 16px;
    font-family: Ubuntu;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: auto;
    width: 230px;
    

}
.bn:hover{
    background-color: red;
}